.container, .container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    background-color: #f9f9f9;
    margin-top: 6.250em;
}
.row {
    margin-bottom: 0%;
}
header {
    padding-bottom: 0.750em;
    padding-top: 0.750em;
    background-color: #f5f5f5;
    background-color: rgba(86,61,124,.15);
    border: 1px solid #ddd;
    border: 1px solid rgba(86,61,124,.2);
    text-align: center;
}
[class*="col-"], nav, aside, section, div[role="main"] {
    padding-top:1%;
    padding-bottom: 12%;
    background-color: #f5f5f5;
    background-color: rgba(86,61,124,.15);
    border: 1px solid #ddd;
    border: 1px solid rgba(86,61,124,.2);
    text-align: center;
}
div[role="main"] {
    background-color: #fff;
}
div[role="main"], nav, aside {
    height: 45em;
}
ul {
  list-style-type: none;
  margin-left: -2.625em;
}
