.container, .container-fluid {
  padding-right: 0.938em;
  padding-left: 0.938em;
  width: 100%;
  height: 100% !important;
  background-color: #f9f9f9;
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.2), 0 0.375em 1.25em 0 rgba(0, 0, 0, 0.19);
}
.row {
  margin-bottom: 0%;
}
header {
  background-color: #082135;
  border: 0.063em solid #ddd;
  border: 0.063em solid rgba(86,61,124,.2);
  text-align: center;
  font-family: 'Slabo 27px', serif;
  color: snow;
}
footer {
  background-color: #082135;
  border: 0.063em solid #ddd;
  border: 0.063em solid rgba(86,61,124,.2);
  text-align: center;
  font-family: 'Slabo 27px', serif;
  color: snow;
}

footer p{
    margin: 0;
}

[class*="col-"], nav,aside, section {
  font-family: 'Slabo 40px', serif;
  padding-top:1%;
  padding-bottom: 1%;
  background-color: #f5f5f5;
  background-color: rgba(86,61,124,.15);
  border: 0.063em solid #ddd;
  border: 0.063em solid rgba(86,61,124,.2);
  text-align: center;
}

aside.col-md-4 {
  background-color: #e7f1ec;
}

div[role="main"] {
  background-color: #fff;
}
div[role="main"], nav, aside {
  height: 100%;
}
ul#cam {
  list-style-type: none;
  font-size: 105%;
  margin-left: 0;
  margin-right: 2em;
}
.button {
  align-items: center;
  background-color: #020b0e;
  border: 0.063em solid #020b0e;
  box-sizing: border-box;
  color: snow;
  display: flex;
  height: 2.813em;
  letter-spacing: 0.163em;
  padding: .8em 1em;
  margin-left:25%;
  margin-right: 25%;
  transition: all .3s ease;
  font-size: 120%;
}
.button:hover {
  background-color: snow;
  border-color: #cdd2d6;
  color: #000000;
}

.listinha {
  align-items: center;
  background-color: white;
  border: 0.063em solid #cdd2d6;
  box-sizing: border-box;
  color: #000000;
  visibility: hidden;
  height: 23.750em;
}

#map{
  position: absolute;
  width: 100% !important;
  height: 100% !important;
}

label{
  font-size: 140%;
}
html, body.bd{
  background-color: #b0c1d0;
}
