
html, body {
height: 100%;
       margin: 0;
       padding: 0;
       background-color: green;
}
body {
       background-color: yellow;
}

#map {
       height: 100%;
       width: 100%;
}

#form {
       height: 80%;
       background-color: grey;
       margin-right: 72%;
       margin-top: 3%;
       position: absolute;
z-index: 9999;

}
